/* Styles */
form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 1em 0;
	border: none;
	border-top: 1px solid #ccc;
}

legend {
	margin: 1em 0;
	padding: 0 .5em;
	color: #036;
	background: transparent;
	font-size: 1.3em;
	font-weight: bold;
}

label {
	float: left;
	width: 100px;
	padding: 0 1em;
	text-align: right;
}

fieldset div {
	margin-bottom: .5em;
	padding: 0;
	display: block;
}

fieldset div input, fieldset div textarea {
	width: 150px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 1px;
	color: #333;
}

fieldset div select {
	padding: 1px;
}

div.fm-multi div {
	margin: 5px 0;
}

div.fm-multi input {
	width: 1em;
}

div.fm-multi label {
	display: block;
	width: 200px;
	padding-left: 5em;
	text-align: left;
}

#fm-submit {
	clear: both;
	padding-top: 1em;
	text-align: center;
}

#fm-submit input {
	border: 1px solid #333;
	padding: 2px 1em;
	background: #555;
	color: #fff;
	font-size: 100%;
}

input:focus, textarea:focus {
	background: #efefef;
	color: #000;
}

	
/* required fields - does not work in IE */
fieldset div.fm-req {
	font-weight: bold;
}

fieldset div.fm-req label:before {
	content: "* "; /* does not work in IE */
}

/* Basic page styling, not part of the form example */
body 	{
	padding: 0;
	margin: 20px;
	color: #333;
	background: #fff;
	font: 12px arial,verdana,sans-serif;
	text-align: center;
}

#container {
	margin: 0 auto;
	padding: 1em;
	width: 350px;
	text-align: left;
}

p#fm-intro {
	margin: 0;
}

